<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <style>
        .question:hover{
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        .question{
            margin-top: 10px;
        }
    </style>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{% static 'bootstrap/bootstrap.bundle.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'student_home/style.css' %}">
    <style>
        .bg-custom-1 {
            background-color: #85144b;
        }
        .bg-custom-2 {
            background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
        }
        .main{
            width: 100%;
        }
    </style>
</head>

<body>
    <header class="text-gray-600 body-font">
		<nav class="navbar navbar-expand-md navbar-dark bg-white">
		  <div class="container-fluid">
			<img src="{% static 'sign_in/logo.jpg' %}" height="50px" width="50px" style="margin-left: 20px;">
			<a class="navbar-brand " href="/home" style="
			color:black;
			margin-left: 9px; font-size: small; font-family: 'Open Sans', sans-serif; font-size: larger; font-weight: bolder;">
			TutVista<br>
			</a>
			<button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" style="background:rgb(106,44,229);">
			  <span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDarkDropdown" style="margin-right: 50px;">
					<ul class="navbar-nav ml-auto">
                        <img src="{{student.image.url}}" width="40" height="40" class="rounded-circle">
					  <li class="nav-item dropdown">
                        
						<a class="nav-link dropdown-toggle" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: black;font-family: 'Open Sans', sans-serif; ">
						  {{student.first_name}}
                        </a>
						<ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
						  <li><a class="dropdown-item" href="/student_home" >Dashboard</a></li>
                          <li><a class="dropdown-item" href="/profile">Update Profile</a></li>
                          <li><a class="dropdown-item" href="/logout">LogOut</a></li>
						</ul>
                      </li>
                    </ul>
                    <a href="/all_questions" class="nav-link">All Questions</a>
                  </div>
		  </div>
		</nav>
        </header>
        
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="phy-tab" data-toggle="tab" href="#phy" role="tab" aria-controls="phy"
                aria-selected="true">Questions</a>
        </li>
    
    <div class="tab-content main" id="myTabContent">
        
        <div id="phy" class="tab-pane fade show active container container-fluid" role="tabpanel" aria-labelledby="phy-tab">
            <div class="container-fluid mt-3">
                <a type="button" name="button" class="btn btn-primary" class="btn login_btn" style="margin-bottom: 20px;" href="/add_question">Add Question</a>
                {% for question in ques%}
                <div class="media border p-3 question">
                    
                    <div class="media-body">
                        <h4><small><i>Posted on {{question.time}}</i></small></h4>
                        <p>
                            {{question.question_text}}
                        </p>
                    </div>
                    <div class="form-group avatar">
                        <figure class="figure col-md-2 col-sm-3 col-xs-12">
                            {% if question.question_image  %}
                            <img class="img-responsive question-img" src="{{question.question_image.url}}">
                            {% endif %}
                        </figure>
                        <div class="form-group">
                            <div class="d-flex flex-row justify-content-center mt-2 login_container">
                                {% if question.answered == 1 %}
                                <a type="button" name="button" class="btn btn-primary" class="btn login_btn" href="/view_answer?aid={{question.ans_id}}&qid={{question.id}}">View
                                    Answer</a>
                                {% endif %}
                            </div>
                            <div class="d-flex justify-content-center mt-2 login_container">
                                
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>

</body>

</html>