<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <title>All Questions</title>
  
        .bg-custom-1 {
            background-color: #85144b;
        }

        .bg-custom-2 {
            background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
        }
        .main{
            width: 100%;
        }
        .question:hover{
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        .question{
            width: 100% !important;
            margin-top: 10px;
        }
    </style>
</head>

<body>
    <header class="text-gray-600 body-font">
		<nav class="navbar navbar-expand-md navbar-dark bg-white">
		  <div class="container-fluid">
			<img src="{% static 'sign_in/logo.jpg' %}" height="50px" width="50px" style="margin-left: 20px;">
			<a class="navbar-brand " href="/home" style="
			color:black;
			margin-left: 9px; font-size: small; font-family: 'Open Sans', sans-serif; font-size: larger; font-weight: bolder;">
			TutVista<br>
			</a>
			<button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" style="background:rgb(106,44,229);">
			  <span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDarkDropdown" style="margin-right: 50px;">
					<ul class="navbar-nav ml-auto">
                        <img src="{{teacher.image.url}}" width="40" height="40" class="rounded-circle">
					  <li class="nav-item dropdown">
                        
						<a class="nav-link dropdown-toggle" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: black;font-family: 'Open Sans', sans-serif; ">
						  {{teacher.first_name}}
                        </a>
						<ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
						  <li><a class="dropdown-item" href="/teacher_home" >Dashboard</a></li>
                          <li><a class="dropdown-item" href="/profile_t">Update Profile</a></li>
                          <li><a class="dropdown-item" href="/logout">LogOut</a></li>
						</ul>
                      </li>
                    </ul>
                  </div>
		  </div>
		</nav>
        </header>
        
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="phy-tab" data-toggle="tab" href="#phy" role="tab" aria-controls="phy"
                aria-selected="true">Unanswered Questions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="chem-tab" data-toggle="tab" href="#chem" role="tab" aria-controls="chem"
                aria-selected="false">Answered Questions</a>
        </li>
    </ul>
    
    <div class="tab-content main" id="myTabContent">
        
        <div id="phy" class="tab-pane fade show active container" role="tabpanel" aria-labelledby="ans-tab">
            <div class="container-fluid mt-3">
                {% for question in uans_ques %}
                <div class="media border p-3 question">
                    <div class="media-body">
                        <h4>{{question.user_id}} <small><i>Posted on {{question.time}}</i></small></h4>
                        <p>{{question.question_text}}</p>
                    </div>
                    <div class="form-group avatar">
                        <figure class="figure col-md-2 col-sm-3 col-xs-12">
                            <img class="question-img img-responsive" src="{{question.question_image.url}}" alt="">
                        </figure>
                        <div class="form-group">
                            <div class="d-flex flex-row justify-content-center mt-2 login_container">
                                <a type="button" name="button" class="btn btn-primary" class="btn login_btn"  href="/answer?q_id={{question.id}}">
                                    Answer</a>
                            </div>
                            <div class="d-flex justify-content-center mt-2 login_container">
                                <button type="button" name="button" class="btn login_btn">Comment</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
                <div class="tab-pane fade container" id="chem" role="tabpanel" aria-labelledby="uans-tab">
                    <div class="container-fluid mt-3">
                        {% for question in ans_ques %}
                        <div class="media border p-3 question">
                            <div class="media-body">
                                <h4>{{question.user_id}} <small><i>Posted on {{question.time}}</i></small></h4>
                                <p>{{question.question_text}}</p>
                            </div>
                            <div class="form-group avatar">
                                <figure class="figure col-md-2 col-sm-3 col-xs-12">
                                    <img class="question-img img-responsive" src="{{question.question_image.url}}" alt="">
                                </figure>
                                <div class="form-group">
                                    <div class="d-flex flex-row justify-content-center mt-2 login_container">
                                        <a type="button" name="button" class="btn btn-primary" class="btn login_btn" href="/view_answer?aid={{question.ans_id}}&qid={{question.id}}">View
                                            Answer</a>
                                    </div>
                                    <div class="d-flex justify-content-center mt-2 login_container">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
    </div>

</body>

</html>